{% extends 'calculations/layout.html.twig' %}
{% set pageTitle = 'beeriously.calculations.calculations'|trans %}
{% set activeMenu = 'calculations' %}

{% block content %}
    <h1><i class="fa fa-calculator"></i> {{ pageTitle }}</h1>
    <ul>
        {#<li><a href="/calculations/hydrometer-correction-chart">Hydrometer Temperature Correction</a></li>#}
    </ul>
{% endblock %}