.idea
.env

###> symfony/framework-bundle ###
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
###< symfony/webpack-encore-pack ###

###> build directory from webpack ###
/public/build/
###< build directory from webpack ###

###> friendsofphp/php-cs-fixer ###
.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> behat/symfony2-extension ###
behat.yml
###< behat/symfony2-extension ###

