{% extends 'bundles/FOSUserBundle/Profile/layout.html.twig' %}
{% set pageTitle = 'beeriously.layout.profile'|trans %}
{% set pageIcon = 'fa fa-users' %}

{% block content %}
    <div class="fos_user_user_show">
    {{ include('bundles/FOSUserBundle/Profile/partial/name.html.twig') }}
    <hr>
    {{ include('bundles/FOSUserBundle/Profile/partial/brewery.html.twig') }}
    <hr>
    {{ include('bundles/FOSUserBundle/Profile/partial/username-email.html.twig') }}
    <hr>
    {{ include('bundles/FOSUserBundle/Profile/partial/password.html.twig') }}
    </div>
{% endblock %}