{% extends 'bundles/FOSUserBundle/Profile/layout.html.twig' %}
{% set pageTitle = 'beeriously.layout.profile'|trans %}
{% set pageIcon = 'fa fa-users' %}

{% block content %}
    <div class="fos_user_user_show">
        <p>{{ 'FOSUserBundle.profile.show.username'|trans }}: {{ user.username }}</p>
        <p>{{ 'FOSUserBundle.profile.show.email'|trans }}: {{ user.email }}</p>
    </div>

{% endblock %}