<div class="row">
    <div class="col-md-2">
        <div class="two-column-page-label">{{ label }}</div>
    </div>
    <div class="col-md-10">
        {% block content %}
        {% endblock %}
    </div>
</div>