{% extends 'partials/two-column.html.twig' %}
{% set label = 'beeriously.brewer.name'|trans %}

{% block content %}
    <div>
        <p class="two-column-page-single-value">
            {{ user.fullName }}
        </p>
        <a href="{{ path('brewer-change-name') }}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> {{ 'beeriously.profile.change_name'|trans }}</a>
    </div>
{% endblock %}