{% extends 'partials/two-column.html.twig' %}
{% set label = 'beeriously.profile.password'|trans %}

{% block content %}
    <div id="beeriously-brewer-details">
        <p class="two-column-page-single-value">
            <i class="fa fa-lock"> </i> *******
        </p>
        {#<a href="" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> {{ 'beeriously.profile.change_password'|trans }}</a>#}
    </div>
{% endblock %}