{% extends 'partials/two-column.html.twig' %}
{% set label = 'beeriously.profile.photo'|trans %}

{% block content %}
    <div id="beeriously-profile-img">
        <img src="{{ beeriously_file(user.profilePhotoKey) }}" />
    </div>
    <br>
    <div>
        <a href="{{ path('brewer-change-avatar') }}" class="btn btn-default btn-sm"><i class="fa fa-edit"></i> {{ 'beeriously.profile.change_photo'|trans }}</a>
    </div>
{% endblock %}