$icon-font-path: "~bootstrap/assets/fonts/bootstrap/";
$lightGrayBorder: #dedede;
$contentBackgroundColor: #f6f6f6;
$footerBackgroundColor: darken($contentBackgroundColor, 6%);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap/scss/reboot';
@import '~bootstrap/scss/grid';
@import "~font-awesome/scss/font-awesome.scss";
@import "external-login-registration";

.alert {
  padding: 0.75rem 1.75rem 0.75rem 1.25rem;
}

.btn-default {
  background-color: #fff;
  color: #000;
}

body {
  background: $footerBackgroundColor;
  font-family: 'Open Sans', sans-serif;
}

button {
  cursor: pointer;
}

ul {
  margin-bottom: 0;
}

#beeriously-page-container {
  @include media-breakpoint-up(xl) {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
}

nav {

  background: $footerBackgroundColor;
  border-bottom: 1px solid darken($footerBackgroundColor, 4%);
  @include media-breakpoint-up(xl) {
    border-bottom: none;
    flex: 0 0 20%;
  }

  a {
    color: darken($link-color, 10%);
    font-weight: 200;
  }

  button {
    float: right;
    margin: 1.1em;
    border: 1px solid darken($footerBackgroundColor, 4%) !important;

    @include media-breakpoint-up(xl) {
      display: none !important;
    }

  }

  #beeriously-nav-menu-logo {
    float: left;
    @include media-breakpoint-up(xl) {
      text-align: center;
      float: none;
    }

    img {
      width: 4em;
      margin: 0.3em 0.9em;
      @include media-breakpoint-up(xl) {
        width: 8em;
        margin: 0.5em 0;
      }
    }
  }

  span {
    display: block;
    height: 1em;
  }

  #beeriously-nav-menu.beeriously-nav-menu-hidden {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  #beeriously-nav-menu {

    @include media-breakpoint-up(xl) {
      display: block;
      min-height: 800px;
    }

    #beeriously-nav-menu-app-menu a {
      display: block;
      margin: 0 1em;
      padding: 1em;
      background: lighten($footerBackgroundColor, 4%);
      border: 1px solid darken($footerBackgroundColor, 4%);
      color: #000;
      text-decoration: none;

      @include media-breakpoint-up(xl) {
        border: none;
        background: none;
        padding: 0.6em 0;
      }

      span {
        float: right;
        @include media-breakpoint-up(xl) {
          display: none;
          color: #545454;
        }
      }

      img {
        width: 1.28571em;
        text-align: center;
        padding: 0.2em;
      }
    }

    #beeriously-nav-menu-app-menu a.beeriously-nav-menu-active {
      font-weight: 800;
      color: #457cd4;
    }

    .beeriously-nav-menu-separator {
      @include media-breakpoint-up(xl) {
        height: 5em;
      }
    }

  }

  #beeriously-nav-menu-profile {
    text-align: center;
    padding-bottom: 3em;

    @include media-breakpoint-up(xl) {
      font-size: 0.75rem;
      padding-left: 1em;
      line-height: 1rem;
    }

    #beeriously-nav-menu-profile-image {

      @include media-breakpoint-up(xl) {
        padding-right: 0.5rem;
        float: left;
      }

      img {
        width: 7em;
        height: 7em;
        border-radius: 50%;
        border: 0.2em solid #ffffff;
        @include media-breakpoint-up(xl) {
          width: 4em;
          height: 4em;
        }
      }
    }

    ul#beeriously-nav-menu-profile-details {

      list-style: none;
      margin: 0;
      padding: 0;

      @include media-breakpoint-up(xl) {
        float: left;
      }

      li {
        padding: 0.3em 0;
        @include media-breakpoint-up(xl) {
          padding: 0 0;
          text-align: left;
        }
      }
    }
  }
}

footer {
  background: $footerBackgroundColor;
  border-top: 1px solid $lightGrayBorder;
  padding: 1em;
  text-align: center;
  font-size: 0.75rem;
  line-height: 0.70rem;
  color: darken(#f0f0f0, 60%);

  @include media-breakpoint-up(xl) {
    border: none;
    padding-top: 2em;
  }

  a {
    color: darken($link-color, 10%);
  }
}

#beeriously-content {
  min-height: 500px;
  padding: 1em;
  background: $contentBackgroundColor;
  @include media-breakpoint-up(xl) {
    flex: 0 0 80%;
    max-width: 100%;
    padding: 1em 2em;
    border-left: 1px solid $lightGrayBorder;
    border-bottom: 1px solid $lightGrayBorder;
  }
}

@media (min-width: 1700px) {
  #beeriously-page-container {
    nav {
      max-width: 250px;
    }
    #beeriously-content {
      flex: 1 0 80%;
    }
  }
}

.beeriously-history {
  font-size: 0.9em;
  padding-bottom: 1em;

  .beeriously-history-description {

  }

  .beeriously-history-done-by {
    font-size: 0.9em;
    color: #999;
  }
}

.two-column-page-label {
  font-size: 1em;
  font-weight: 200;
}

.two-column-page-single-value {
  font-size: 1.5em;
  font-weight: 400;

  small {
    font-size: 0.5em;
  }
}

.btn-default {
  border-color: #333;
}

.clear-button-xl {
  background: none;
  border: none;
  padding: 1px 0 0 10px;
  margin: 0;
}

.table {
  th {
    font-weight: 600;
  }
  td {
    font-weight: 300;
  }
}

#beeriously-loading-indicator {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 9999;
  margin-top: -65px;
  margin-left: -50px;
  color: #000;
}

#beeriously-user-profile {
  #beeriously-profile-img {
    img {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 5px solid #ffffff;
    }
  }
}

.x-scroll {
  overflow-x: auto;
}

.card-form {
  padding: 1.5em;
}

.custom-file {
  width: 100%;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;

  .custom-file-input {
    width: 100%;
    max-width: none;
    opacity: 1;
    padding: 10px;
    display: block;
    height: auto;
  }

  label {
    display: none;
  }
}

#beeriously-brewery-settings-brewers-list ul li
{
  display: flex;
  justify-content: space-between;

  .beeriously-brewery-settings-brewers-controls {
    align-self: flex-end;
  }

  .beeriously-brewery-settings-brewers-details {
    padding-left: 15px;
    flex-grow: 1;
  }

  h5 {
    margin: 0;
  }

  p {
    margin: 0;
    padding: 5px 0;
    line-height: 1em;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

}
