#beeriously-security-container {
  margin: 20px auto 200px auto;
  width: 400px;
  padding: 0;

  .form-check {
    padding-left: 1.25rem;

    .form-check-label {
      padding-left: 0.25rem;
    }
  }

  .beeriously-security-footer {

    margin: 1.5em 0;
    border-top: 5px dashed darken($footerBackgroundColor, 10%);
    text-align: center;

    ul {
      list-style: none;
      margin: 0;
      padding: 1em 0 0 0;

      li {
        display: inline-block;
      }

    }
  }

  h1 {
    text-transform: capitalize;
  }

  #beeriously-security-logo {
    text-align: center;
    padding-bottom: 1em;

    img {
      width: 200px;
    }
  }

}