{% extends 'layout.html.twig' %}
{% set pageTitle = 'Hydrometer Temperature Correction' %}

{% block content %}
<h1>{{ pageTitle }}</h1>
<h1><i class="fa fa-thermometer-full"></i></h1>
<img src="/assets/img/beeriously-logo-square-300.png">
{% endblock %}