{% set pageTitle = pageTitle | default(null) %}
{% set pageSubTitle = pageSubTitle | default(null) %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="/assets/img/logo/favicon.png" type="image/png" />
        <title>{% block title %}Beeriously{% if pageTitle is not empty %} - {{ pageTitle }}{% endif %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
