{% extends 'layout.html.twig' %}
{% set pageTitle = 'Dashboard' %}
{% set activeMenu = 'dashboard' %}

{% block content %}
    <h1><i class="fa fa-dashboard"></i> {{ pageTitle }}</h1>

    {#<div class="alert alert-danger">You must setup an equipment profile.<br><a href="">Setup Equipment</a></div>#}
    {#<div class="alert alert-danger">You must setup a water profile.<br><a href="">Setup Water</a></div>#}
    {#<hr>#}

{% endblock %}