<table border="0" cellpadding="0" cellspacing="0" style="background-color:{{ button_color }}; border:1px solid {{ button_border_color }}; border-radius:5px;">
    <tr>
        <td align="center" valign="middle" style="color:#FFFFFF; font-family:Helvetica, Arial, sans-serif; font-size:16px; font-weight:bold; letter-spacing:-.5px; line-height:150%; padding-top:5px; padding-right:15px; padding-bottom:5px; padding-left:15px;">
            <a href="{{ url }}" target="_blank" style="color:#FFFFFF; text-decoration:none;">{{ button_text }}</a>
        </td>
    </tr>
</table>